<header>
  <app-menu-bar></app-menu-bar>
</header>
<router-outlet></router-outlet>

<footer>
  <div class="footer-content">
    <p>&copy; 2024 Thiago Oliveira.</p>

    <ul class="social-links">
      <li><a href="https://www.facebook.com/reel/839314151424608" target="_blank" title="Facebook">Facebook</a></li>
      <li><a href="https://github.com/thiagolboliveira1" target="_blank" title="Twitter">GitHub</a></li>
      <li><a href="#" target="_blank" title="Instagram">Instagram</a></li>
      <li><a href="https://www.linkedin.com/in/thiago-oliveira-668367232/" target="_blank" title="LinkedIn">linkedin</a></li>
    </ul>
  </div>
</footer>
